@using System.Collections;
@model List<Sold>

@{

    Layout = "_Layout";
    ArrayList answer = new ArrayList();
    string username = "";
    string phone = "";
    string address = "";
    double sum = 0;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <table border="1" class="table" style="border-collapse: collapse; width: 100%;alignment: left">
                <!-- шапка таблицы -->
                <thead class="thead-dark" >
                <tr>
                    
                    <th >Заказ</th>
                    <th >Клиент</th>
                    <th >Дата</th>
                    <th >Телефон клиента</th>
                    <th >Адрес заказа</th>
                    <th >Статус</th>
                    </tr>
                </thead>
                <!-- основная часть таблицы -->
             <tbody>
                @foreach (var sold in Model)
                {
                    <tr>
                        @{


                            foreach (var product in @sold.products)
                            {
                                string name = "";
                                double price = 0;
                                foreach (var products in ViewBag.products)
                                {
                                    if (product == products.id)
                                    {
                                        answer.Add(products.name + '-' + products.price);
                                        sum += products.price;
                                    }
                                }
                            }
                        }

                        <td>@foreach (var product in answer)
                            {
                                @product.ToString();
                                <br />
                            }
                            
                            <br/>
                            Сумма: @sum</td>
                        @{
                            foreach (var client in ViewBag.clients)
                            {
                                if (client.id == sold.client)
                                {
                                    username = client.username;
                                    address = client.address;
                                    phone = client.phone;
                                }
                            }
                        }
                        <td >@username</td>
                        <td >@sold.dateof</td>
                        <td >@phone</td>
                        <td >@address</td>
                        <td >@sold.state</td>
                        
                        </tr>
                }
                    </tbody >
            </table >
</div>
</body>
</html>