@model List<Liquid>

@{
    ViewData["Title"] = "Таблица жидкостей для заправки устройств";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <table border="1" class="table" style="border-collapse: collapse; width: 100%;alignment: left">
          <thead class="thead-dark" >
          <tr>
              <th></th>
              <th >Наименование</th>
              <th >Цена</th>
              <th >Описание</th>
              <th >Наличие</th>
              <th >Количество</th>
              </tr>
          </thead>
       <tbody>
          @foreach (var liquid in Model)
          {
              <tr>
                  <td><a class="btn btn-primary" asp-action="LiquidEdit" asp-route-id="@liquid.id">Профиль</a></td>
                  
                  <td >@liquid.name</td>
                  <td >@liquid.price</td>
                  <td >@liquid.desc</td>
                  <td >@liquid.isAvailable</td>
                  <td >@liquid.count</td>
                  </tr>
          }
              </tbody >
      </table >
</div>
</body>
</html>