@model List<Pod>

@{
    ViewData["Title"] = "Таблица подов";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <!-- Открытие тэга таблицы -->
      <table border="1" class="table" style="border-collapse: collapse; width: 100%;alignment: left">
          <!-- шапка таблицы -->
          <thead class="thead-dark" >
          <tr>
              <th></th>
              <th >Наименование</th>
              <th >Цена</th>
              <th >Описание</th>
              
              <th >Количество</th>
              </tr>
          </thead>
          <!-- основная часть таблицы -->
       <tbody>
          @foreach (var pod in Model)
          {
              <tr>
                  <td><a class="btn btn-primary" asp-action="PodEdit" asp-route-id="@pod.id">Профиль</a></td>
                  
                  <td >@pod.name</td>
                  <td >@pod.price</td>
                  <td >@pod.desc</td>
                  <td >@pod.count </td>
                  </tr>
          }
              </tbody >
      </table >
</div>
</body>
</html>
